<div ng-init="vm.findAllTerminals()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>{{'SECTIONS.TERMINALS' | translate}}</h2>
            <a class="btn btn-default btn-md" ui-sref="terminals.form">
                <i class="glyphicon glyphicon-circle-arrow-left"></i>
                Volver
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table id="terminalstable" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>{{'LABELS.TERMINAL' | translate}}</th>
                    <th>{{'LABELS.UNIQUE_CODE' | translate}}</th>
                    <th>{{'LABELS.COMERCE_NAME' | translate}}</th>
                    <th>{{'LABELS.BUSINESS_TYPE' | translate}}</th>
                    <th>{{'LABELS.MOBILE_NUMBER' | translate}}</th>
                    <th>{{'LABELS.EMAIL' | translate}}</th>
                    <th>{{'LABELS.ADDRESS' | translate}}</th>
                    <th>{{'LABELS.CITY' | translate}}</th>
                    <th>{{'LABELS.COUNTRY' | translate}}</th>
                    <th>{{'LABELS.LICENCE' | translate}}</th>
                    <th>{{'LABELS.MOBILE_IMEI' | translate}}</th>
                    <th>{{'LABELS.ACTIVE' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="terminal in vm.terminals">
                        <td ng-bind="terminal.terminalCode"></td>
                        <td ng-bind=""></td>
                        <td ng-bind="terminal.commerceName"></td>
                        <td ng-bind="terminal.businessType"></td>
                        <td ng-bind="terminal.thelephoneNumber"></td>
                        <td ng-bind="terminal.email"></td>
                        <td ng-bind="terminal.address"></td>
                        <td ng-bind="terminal.cityName"></td>
                        <td ng-bind="terminal.countryName"></td>
                        <td ng-bind="terminal.licence"></td>
                        <td ng-bind="terminal.imei"></td>
                        <td ng-bind="terminal.stateId == '1' ? 'LABELS.YES' : 'LABELS.NO' | translate"></td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li ng-class="{'disabled' : vm.page == vm.pages[0]}"
                        ng-click="vm.page == vm.pages[0]||vm.previousPage()" style="cursor: pointer">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="n in vm.pages" ng-class="{'active' : vm.page == n}">
                        <a style="cursor: pointer"
                           ng-click="vm.getPageList(n)">{{n}}</a>
                    </li>

                    <li ng-class="{'disabled' : vm.page == vm.pages[vm.pages.length - 1]}"
                        ng-click="vm.page == vm.pages[vm.pages.length - 1]||vm.nextPage()" style="cursor: pointer;">
                        <a aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
