<div ng-init="vm.findAllTerminals()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Terminales</h2>
            <a class="btn btn-default btn-md" ui-sref="terminals.form">
                <i class="glyphicon glyphicon-circle-arrow-left"></i>
                Volver
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table id="terminalstable" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>{{'LABELS.TERMINAL' | translate}}</th>
                    <th>{{'LABELS.UNIQUE_CODE' | translate}}</th>
                    <th>{{'LABELS.COMERCE_NAME' | translate}}</th>
                    <th>{{'LABELS.BUSINESS_TYPE' | translate}}</th>
                    <th>{{'LABELS.MOBILE_NUMBER' | translate}}</th>
                    <th>{{'LABELS.EMAIL' | translate}}</th>
                    <th>{{'LABELS.ADDRESS' | translate}}</th>
                    <th>{{'LABELS.CITY' | translate}}</th>
                    <th>{{'LABELS.COUNTRY' | translate}}</th>
                    <th>{{'LABELS.LICENCE' | translate}}</th>
                    <th>{{'LABELS.MOBILE_IMEI' | translate}}</th>
                    <th>{{'LABELS.ACTIVE' | translate}}</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
