<div class="container-fluid">
    <div class="row">
        <form name="vm.comercesForm" novalidate ng-submit="vm.test()">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tipos de Negocio Multicomercio</h2>
                    </div>
                </div>
                <div class="row" ng-if="vm.showConectionError">
                    <div class="col-md-10">
                        <div class="alert alert-danger">Error de conexión</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="code">Código</label>
                            <input type="text" name="code" id="code" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn150px btn-sm pull-right" ng-click="vm.test()"><i class="glyphicon glyphicon-search"></i> Consultar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="code">Nombre Tipo Negocio</label>
                                    <input type="text" name="code" id="code" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn150px pull-right btn-sm" ng-click="vm.sendComerce()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>