<div class="container-fluid">
    <div class="row">
        <form name="vm.comercesForm" novalidate ng-submit="vm.sendComerce()">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{'SECTIONS.COMERCES' | translate}}</h2>
                    </div>
                </div>
                <div class="row" ng-if="vm.showConectionError">
                    <div class="col-md-10">
                        <div class="alert alert-danger">Error de conexión</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"
                             ng-class="{'has-error' : (vm.comercesForm.nit.$touched || vm.comercesForm.nit.$dirty) && vm.comercesForm.nit.$invalid}">
                            <label for="nit">{{'LABELS.NIT' | translate}}</label>
                            <input type="text" name="nit" id="nit" class="form-control" ng-model="vm.comerce.nit"
                                   ng-pattern="/^\d*$/" required ng-maxlength="12" ng-disabled="vm.disableNit">
                            <div ng-messages="(vm.comercesForm.nit.$touched || vm.comercesForm.nit.$dirty) && vm.comercesForm.nit.$error"
                                 class="help-block">
                                <div ng-message="required">{{ 'ERRORS.REQUIRED_FIELD' | translate}}</div>
                                <div ng-message="pattern">{{'ERRORS.ONLY_NUMBERS_FIELD' | translate}}</div>
                                <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate : '{ max : 12}'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn150px btn-sm"
                                ng-click="vm.findComerce(vm.comerce.nit)"><i class="glyphicon glyphicon-search"></i>
                            Consultar
                        </button>
                        <a class="btn btn-primary btn150px btn-sm" ui-sref="comerces.list"><i
                                class="glyphicon glyphicon-list"></i>&nbsp; Ver todos</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error' : (vm.comercesForm.businessName.$touched || vm.comercesForm.businessName.$dirty) && vm.comercesForm.businessName.$invalid}">
                                    <label for="businessName">{{'LABELS.BUSSINES_NAME' | translate}}</label>
                                    <input type="text" name="businessName" id="businessName" class="form-control"
                                           required ng-maxlength="50" ng-model="vm.comerce.businessName"
                                           ng-disabled="vm.disableBusinessName">
                                    <div ng-messages="(vm.comercesForm.businessName.$touched || vm.comercesForm.businessName.$dirty) && vm.comercesForm.businessName.$error"
                                         class="help-block">
                                        <div ng-message="required">{{'ERRORS.REQUIRED_FIELD' | translate}}</div>
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate :
                                            '{max:50}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error': (vm.comercesForm.address.$touched || vm.comercesForm.address.$dirty) && vm.comercesForm.address.$invalid}">
                                    <label for="address">{{'LABELS.ADDRESS' | translate}}</label>
                                    <input type="text" name="address" id="address" class="form-control"
                                           ng-maxlength="50" ng-model="vm.comerce.address"
                                           ng-disabled="vm.disableAddress">
                                    <div ng-messages="(vm.comercesForm.address.$touched || vm.comercesForm.address.$dirty) && vm.comercesForm.address.$error"
                                         class="help-block">
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate :
                                            '{max:50}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error' : (vm.comercesForm.city.$touched || vm.comercesForm.city.$dirty) && vm.comercesForm.city.$invalid}">
                                    <label for="city">{{'LABELS.CITY' | translate}}</label>
                                    <input type="text" name="city" id="city" class="form-control" ng-maxlength="20"
                                           ng-model="vm.comerce.city" ng-disabled="vm.disableCity">
                                    <div ng-messages="(vm.comercesForm.city.$touched || vm.comercesForm.city.$dirty) && vm.comercesForm.city.$error"
                                         class="help-block">
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate :
                                            '{max:20}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error' : (vm.comercesForm.country.$touched || vm.comercesForm.country.$dirty) && vm.comercesForm.country.$invalid}">
                                    <label for="country">{{'LABELS.COUNTRY' | translate}}</label>
                                    <input type="text" name="country" id="country" class="form-control"
                                           ng-maxlength="20" ng-model="vm.comerce.country"
                                           ng-disabled="vm.diableCountry">
                                    <div ng-messages="(vm.comercesForm.country.$touched || vm.comercesForm.country.$dirty) && vm.comercesForm.country.$error"
                                         class="help-block">
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate :
                                            '{max:20}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error' : (vm.comercesForm.contactName.$touched || vm.comercesForm.contactName.$dirty) && vm.comercesForm.contactName.$invalid}">
                                    <label for="contactName">{{'LABELS.CONTACT_NAME' | translate}}</label>
                                    <input type="text" name="contactName" id="contactName" class="form-control"
                                           ng-maxlength="50" ng-model="vm.comerce.contactName"
                                           ng-disabled="vm.disableContactName">
                                    <div ng-messages="(vm.comercesForm.contactName.$touched || vm.comercesForm.contactName.$dirty) && vm.comercesForm.contactName.$error"
                                         class="help-block">
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate :
                                            '{max:50}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error': (vm.comercesForm.contactPhone.$touched || vm.comercesForm.contactPhone.$dirty) && vm.comercesForm.contactPhone.$invalid}">
                                    <label for="contactPhone">{{'LABELS.CONTACT_PHONE' | translate}}</label>
                                    <input type="text" name="contactPhone" id="contactPhone" class="form-control"
                                           ng-maxlength="20" ng-model="vm.comerce.telephoneContact"
                                           ng-disabled="vm.disableTelephoneContact">
                                    <div ng-messages="(vm.comercesForm.contactPhone.$touched || vm.comercesForm.contactPhone.$dirty) && vm.comercesForm.contactPhone.$error"
                                         class="help-block">
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate :
                                            '{max:20}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="active" class="control-label">{{'LABELS.ACTIVE' | translate}}</label>
                                <div id="active" ng-init="vm.comerce.stateId = '1'">

                                    <label class="radio-inline"><input type="radio" name="active" ng-model="vm.comerce.stateId" value="1">{{'LABELS.YES'
                                        |
                                        translate}}</label>
                                    <label class="radio-inline"><input type="radio" name="active" ng-model="vm.comerce.stateId" value="2"> {{'LABELS.NO' |
                                        translate}}</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn150px pull-right btn-sm">Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-7"></div>
        </form>
    </div>

</div>