<div class="container-fluid">
    <div class="row">
        <form name="vm.queriesForm" novalidate ng-submit="vm.test()">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Consulta de Transacciones</h2>
                    </div>
                </div>
                <div class="row" ng-if="vm.showConectionError">
                    <div class="col-md-10">
                        <div class="alert alert-danger">Error de conexión</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="active" class="control-label">{{'Tipo de Reporte' | translate}}</label>
                        <div id="active">
                            <div>

                            <label class="radio-inline"><input type="radio" id="last10Transactions" name="last10Transactions" checked="checked">{{'Últimas 10 transacciones'
                                |
                                translate}}</label>
                            </div>
                            <div>

                            <label class="radio-inline"><input type="radio" id="dateRange" name="dateRange">{{'Rango de fechas' |
                                translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startDate" class="control-label">Desde:</label>
                                <div id="startDate" data-date="{{vm.currentTime | date : 'dd/MM/yyyy'}}"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="endDate" class="control-label">Hasta:</label>
                                <div id="endDate" data-date="{{vm.currentTime | date : 'dd/MM/yyyy'}}"></div>
                            </div>
                                <script>
                                    $('#startDate').datepicker({
                                        language : 'es'
                                    });
                                    $('#endDate').datepicker({
                                        language : 'es'
                                    });
                                </script>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                     ng-class="{'has-error' : (vm.queriesForm.nit.$touched || vm.queriesForm.nit.$dirty) && vm.queriesForm.nit.$invalid}">
                                    <label for="nit">{{'LABELS.NIT' | translate}}</label>
                                    <input type="text" name="nit" id="nit" class="form-control" ng-model="vm.comerce.nit"
                                           ng-pattern="/^\d*$/" required ng-maxlength="12">
                                    <div ng-messages="(vm.queriesForm.nit.$touched || vm.queriesForm.nit.$dirty) && vm.queriesForm.nit.$error"
                                         class="help-block">
                                        <div ng-message="required">{{ 'ERRORS.REQUIRED_FIELD' | translate}}</div>
                                        <div ng-message="pattern">{{'ERRORS.ONLY_NUMBERS_FIELD' | translate}}</div>
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate : '{ max : 12}'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error' : (vm.queriesForm.ucode.$touched || vm.queriesForm.ucode.$dirty) && vm.queriesForm.ucode.$invalid}">
                                    <label for="ucode">{{'LABELS.UNIQUE_CODE' | translate}}</label>
                                    <input type="text" name="ucode" id="ucode" ng-model="vm.terminal.ucode" class="form-control" ng-maxlength="10" required>
                                    <div ng-messages="(vm.queriesForm.ucode.$touched || vm.queriesForm.ucode.$dirty) && vm.queriesForm.ucode.$error" class="help-block">
                                        <div ng-message="required">{{'ERRORS.REQUIRED_FIELD' | translate}}</div>
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate: '{max:10}'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error' : (vm.queriesForm.ucode.$touched || vm.queriesForm.ucode.$dirty) && vm.queriesForm.ucode.$invalid}">
                                    <label for="ucode">{{'LABELS.TERMINAL' | translate}}</label>
                                    <input type="text" name="terminal" id="terminal" ng-model="vm.terminal.ucode" class="form-control" ng-maxlength="10" required>
                                    <div ng-messages="(vm.queriesForm.ucode.$touched || vm.queriesForm.ucode.$dirty) && vm.queriesForm.ucode.$error" class="help-block">
                                        <div ng-message="required">{{'ERRORS.REQUIRED_FIELD' | translate}}</div>
                                        <div ng-message="maxlength">{{'ERRORS.MAX_LENGTH_FIELD' | translate: '{max:10}'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn150px pull-right" ng-click="vm.test()">
                                    <i class="glyphicon glyphicon-search"></i>
                                    Consultar</button>
                                <button type="button" class="btn btn-default btn150px pull-right" style="margin-right: 10px; width: 150px;">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;
                                    Exportar Excel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>