<!DOCTYPE html>
<html lang="en" ng-app="mpos">
<head>
    <meta charset="UTF-8">
    <title>MPOS</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body ng-controller="mainCtrl as vm">
<div>
    <div class="row" style="padding: 5px;">
        <div class="col-md-5">
            <img src="images/Banner-PortalWebMerchant.png" alt="">
        </div>

        <div class="col-md-3 col-md-offset-4">
            <div ng-if="vm.logedUser" class="hiddenElement" ng-class="{'visibleElement' : vm.logedUser}">
                <div class="dropdown pull-right">
                    <button class="btn dropdown-toggle logInfoButton" type="button" data-toggle="dropdown" style="width: 200px;">
                        <i class="glyphicon glyphicon-user"></i> {{vm.currentUser.login}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="width: 100%;">
                        <li>
                            <div style="overflow: hidden">

                                <div class="col-md-12">
                                    <b>Fecha último ingreso :</b>
                                </div>
                                <div class="col-md-12">
                                    {{vm.currentUser.lastConnection}}
                                </div>
                                <div class="col-md-12">
                                    <b>Dirección IP :</b>
                                </div>
                                <div class="col-md-12">
                                    {{ vm.currentIpAddress}}
                                </div>
                            </div>
                        </li>
                        <hr>
                        <li><a ui-sref="changepass"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Cambiar Contraseña</a></li>

                        <li><a ng-click="vm.logout()" style="cursor: pointer"><i class="glyphicon glyphicon-log-out"></i>&nbsp; Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ng-if="vm.logedUser" class="hiddenElement" ng-class="{'visibleElement' : vm.logedUser}">
                <a class="navbar-brand" href="#">Inicio</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="mainMenu">
            <div ng-if="vm.logedUser" class="hiddenElement" ng-class="{'visibleElement' : vm.logedUser}">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="comerces.form">{{'SECTIONS.COMERCES' | translate}}</a></li>
                    <li><a ui-sref="ucode.form">{{'SECTIONS.UNIQUE_CODE' | translate}}</a></li>
                    <li><a ui-sref="terminals.form">{{'SECTIONS.TERMINALS' | translate}}</a></li>
                    <li><a ui-sref="ausers.form">{{'SECTIONS.ADMIN_USERS' | translate}}</a></li>
                    <li><a ui-sref="cusers">{{'SECTIONS.COMERCE_USERS' | translate}}</a></li>
                    <li><a ui-sref="businesstypes">{{'Tipos Negocio' | translate}}</a></li>
                    <li><a ui-sref="queries">{{'SECTIONS.QUERIES' | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ui-view></ui-view>

<!--
<div class="footer-bottom">
    <img src="images/Footer-PortalWebMerchant.png" alt="">
</div>-->

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-cookies/angular-cookies.min.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="lib/angular-translate/angular-translate.min.js"></script>
<script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="lib/angular-messages/angular-messages.min.js"></script>
<script src="lib/js-sha512/build/sha512.min.js"></script>
<script src="lib/angular-base64/angular-base64.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services/login.service.js"></script>
<script src="scripts/services/restApisService.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
<script src="scripts/controllers/comerces.controller.js"></script>
<script src="scripts/controllers/unique-code.controller.js"></script>
<script src="scripts/controllers/terminals.controller.js"></script>
<script src="scripts/controllers/ausers.controller.js"></script>
<script src="scripts/controllers/cusers.controller.js"></script>
<script src="scripts/controllers/queries.controller.js"></script>
</body>
</html>